<div id="<%= dom_id recebimento %>">
  <p>
    <strong>Data recebimento:</strong>
    <%= recebimento.data_recebimento %>
  </p>

  <p>
    <strong>Funcionario:</strong>
    <%= recebimento.funcionario_id %>
  </p>

  <p>
    <strong>Encomenda:</strong>
    <%= recebimento.encomenda_id %>
  </p>

</div>
