<h1>Editing transportadora</h1>

<%= render "form", transportadora: @transportadora %>

<br>

<div>
  <%= link_to "Show this transportadora", @transportadora %> |
  <%= link_to "Back to transportadoras", transportadoras_path %>
</div>
